<%- include("../partials/header") %>

<div class="container">
	<h1 style="text-align: center;">Add New Comment to <%= campground.name%></h1>
	<div style = "width: 30%; margin: 30px auto;">
		<form action="/campgrounds/<%= campground._id%>/comments" method="POST">
			<div class="form-group">
				<input class= "form-control" type="text" name="comment[text]" placeholder="text">
			</div>
			
		
		<input class = "btn btn-primary btn-block" type="submit">
	</form>
	</div>
	
	<div style = "width: 30%; margin: 25px auto;">
	<h4>
		<a href="/campgrounds">Go back</a>
	</h4>
	</div>
	
</div>

<%- include("../partials/footer") %>
